@import "./sass/base/reset.scss";
@import "./sass/base/button.scss";
@import "./sass/base/base.scss";
@import "./sass/base/variables.scss";
@import "./sass/header/header.scss";
@import "./sass/components/general.scss";
@import "./sass/components/banner.scss";
@import "./sass/components/about.scss";
@import "./sass/components/services.scss";
@import "./sass/components/portfolio.scss";
@import "./sass/components/contact.scss";