@charset "UTF-8";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style-position: inside;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  border: 0;
}

button,
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

input[type=text],
input[type=password],
input[type=email],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

blockquote {
  margin: 0;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

iframe {
  max-width: 100%;
  height: auto;
  border: 0;
}

:focus {
  outline: 2px solid #000;
  outline-offset: 2px;
}

abbr[title],
code,
kbd,
pre,
samp {
  font-family: monospace;
  font-size: 1em;
}

q {
  quotes: "“" "”" "‘" "’";
}

::selection {
  background-color: var(--color-1);
}

.btn {
  padding: 10px 25px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: var(--xolor-3);
  background-color: var(--color-1);
  display: inline-block;
}

body {
  background-color: var(--color-2);
  color: var(--color-3);
  font-family: var(--font-family-primary);
  font-size: 16px;
  font-weight: 400;
  overflow-x: hidden;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

.social-icons {
  display: inline-block;
  position: fixed;
  top: 25%;
  left: 20px;
  z-index: 1;
}
.social-icons__list {
  display: inline-flex;
  flex-direction: column;
  gap: 15px;
  list-style: none;
}
.social-icons__list li {
  opacity: 0.7;
}
.social-icons__list li svg {
  max-width: 30px;
}
.social-icons__list li svg path {
  fill: white;
  transition: fill 0.3s ease;
}
.social-icons__list li svg circle {
  stroke: white;
  stroke-width: 3;
  transition: stroke-dashoffset 0.6s ease, stroke 0.3s ease;
}
.social-icons__list li svg rect {
  stroke: white;
  stroke-width: 3;
  fill: none;
  transition: stroke-dashoffset 0.6s ease, stroke 0.3s ease;
}
.social-icons__list li:hover {
  opacity: 1;
}
.social-icons__list li:hover svg path {
  fill: var(--color-1);
  animation: fillUp 0.6s ease forwards;
}
.social-icons__list li:hover svg circle {
  stroke: var(--color-1);
  stroke-dashoffset: 0;
}
.social-icons__list li:hover svg rect {
  stroke: var(--color-1);
  stroke-dashoffset: 0;
}

@keyframes fillUp {
  0% {
    fill: white;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  }
  100% {
    fill: var(--color-1);
    clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0 100%);
  }
}
:root {
  --color-1: #FD6F00;
  --color-2: #000;
  --color-3: #fff;
  --color-4: #212121;
  --color-5: #363636;
  --font-family-primary: "Poppins", sans-serif;
  --font-family-secondary: "Playfair Display", serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1920px;
  margin: 0 auto;
  padding: 20px 80px;
  position: sticky;
  top: 0;
  z-index: 1;
}
.header__title {
  font-family: "Playfair Display", serif;
  font-size: 30px;
}
.header__menu {
  display: flex;
  align-items: center;
  gap: 50px;
}
.header__menu-button {
  position: relative;
  height: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header__menu-button span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: var(--color-3);
  margin: 6px 0;
  transition: all 2s ease;
  position: relative;
}
.header__menu-button span:before, .header__menu-button span:after {
  content: "";
  position: absolute;
  width: 18px;
  height: 3px;
  background-color: var(--color-3);
  transition: all 2s ease;
}
.header__menu-button span:before {
  top: -10px;
}
.header__menu-button span:after {
  top: 10px;
  right: 0;
}
.header__menu-button:hover span:before {
  right: 0;
}
.header__menu-button:hover span:after {
  left: 0;
}

.common_header {
  text-align: center;
  margin-bottom: 100px;
}
.common_header h2 {
  font-size: 40px;
  font-weight: 500;
}
.common_header p {
  font-size: 25px;
  font-weight: 400;
  color: var(--color-5);
  max-width: 590px;
  margin: 0 auto;
}
.common_header-content {
  position: relative;
  z-index: 1;
}
.common_header .letter {
  color: transparent;
  font-size: 370px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--color-5);
  position: relative;
  left: -140px;
  right: 0;
  margin: 0 auto;
  top: 24px;
}
.common_header .letter span {
  line-height: 0;
  display: block;
  text-align: center;
}

.strap {
  padding: 10px;
}
.strap__one {
  position: absolute;
  bottom: 40%;
  left: -2%;
  background-color: var(--color-4);
  color: var(--color-3);
  width: calc(100% + 200px);
  transform: rotate(-13deg);
}
@media (max-width: 1600px) {
  .strap__one {
    bottom: 48%;
  }
}
.strap__two {
  position: absolute;
  top: -17%;
  left: 3%;
  background-color: var(--color-3);
  color: var(--color-2);
  width: calc(100% + 227px);
  transform: rotate(33deg);
}
@media (max-width: 1600px) {
  .strap__two {
    top: -10%;
  }
}
.strap ul {
  list-style: none;
  margin: 0;
  padding: 0;
  transition-timing-function: linear;
}
.strap ul .swiper-slide {
  text-align: center;
  font-size: 18px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.strap ul .swiper-slide.dot {
  position: relative;
  height: auto;
}
.strap ul .swiper-slide.dot::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--color-1);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner {
  position: relative;
  height: 100vh;
}
.banner__content h1 {
  color: transparent;
  font-size: 370px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--color-5);
}
.banner__content-text {
  position: absolute;
  top: 22%;
  left: 4%;
}
.banner__content-text p {
  font-size: 65px;
  font-weight: 400;
}
.banner__content-text p span:not(:first-child) {
  color: var(--color-5);
}

.about {
  padding-bottom: 150px;
}
.about_header {
  text-align: center;
}
.about .two-col {
  display: grid;
  grid-template-columns: 500px 1fr;
  gap: 80px;
  align-items: center;
}
.about .two-col__item img {
  filter: grayscale(100%);
}
.about .two-col__item p {
  margin-bottom: 30px;
  line-height: 1.8;
}

.skills {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-top: 100px;
}
.skills__item {
  text-align: center;
}
.skills__item .progress {
  height: 130px;
  width: 130px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  position: relative;
}
.skills__item .progress img {
  max-width: 100%;
  height: auto;
  z-index: 1;
}
.skills__item .progress__bar {
  height: 110px;
  width: 110px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: var(--color-2);
}
.skills__item h4 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0;
  margin-top: 15px;
}
.skills__item span {
  font-size: 16px;
  font-weight: 400;
}

.services {
  padding-bottom: 150px;
}

.three-col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 150px;
}
.three-col__item {
  text-align: center;
  border-radius: 5px;
  background-color: var(--color-5);
  padding: 15px;
}
.three-col__item .icon {
  width: 70px;
  height: 70px;
  margin: 0 auto 15px;
}
.three-col__item h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.portfolio {
  padding-bottom: 150px;
}
.portfolio .common_header .letter {
  font-size: 250px;
  -webkit-text-stroke-width: 2px;
  left: -100px;
}
.portfolio_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.portfolio_grid__item .portfolio_grid__item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.contact_wrapper {
  text-align: center;
  padding-bottom: 150px;
}
.contact_wrapper h3 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
  font-family: var(--font-family-secondary);
}
.contact_wrapper .btn {
  margin-top: 10px;
}