.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1920px;
    margin: 0 auto;
    padding: 20px 80px;
    position: sticky;
    top: 0;
    z-index: 1;
    &__title {
        font-family: "Playfair Display", serif;
        font-size: 30px;
    }
    &__menu {
        display: flex;
        align-items: center;
        gap: 50px;
    }
    &__menu-button {
        position: relative;
        height: 30px;
        display: flex;
        align-items: center;
        cursor: pointer;
        span {
            display: block;
            width: 30px;
            height: 3px;
            background-color: var(--color-3);
            margin: 6px 0;
            transition: all 2s ease;
            position: relative;
            &:before,
            &:after {
                content: "";
                position: absolute;
                width: 18px;
                height: 3px;
                background-color: var(--color-3);
                transition: all 2s ease;
            }
            &:before {
                top: -10px;
            }
            &:after {
                top: 10px;
                right: 0;
            }
        }
        &:hover {
            span {
                &:before {
                    right: 0;
                }
                &:after {
                    left: 0;
                }
            }
        }
    }
}