.about {
    padding-bottom: 150px;
    &_header {
        text-align: center;
    }
    .two-col {
        display: grid;
        grid-template-columns: 390px 1fr;
        gap: 80px;
        align-items: center;
        @media (max-width: 1199px) {
            grid-template-columns: 300px 1fr;
            gap: 40px;
        }
        @media (max-width: 767px) {
            grid-template-columns: 1fr;
            gap: 40px;
        }
        &__item {
            img {
                filter: grayscale(100%);
                @media (max-width: 767px) {
                    max-width: 400px;
                    margin: 0 auto;
                }
                @media (max-width: 450px) {
                    max-width: 300px;
                }
            }
            p {
                margin-bottom: 30px;
                line-height: 1.8;
            }
        }
    }
}

.skills {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 100px;
    @media (max-width: 991px) {
        margin-top: 50px;
        flex-wrap: wrap;
    }
    &__item {
        text-align: center;
        .progress {
            height: 130px;
            width: 130px;
            display: flex;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            position: relative;
            img {
                max-width: 100%;
                height: auto;
                z-index: 1;
            }
            @media (max-width: 991px) {
                height: 100px;
                width: 100px;
            }
        }
        .progress__bar {
            height: calc(130px - 20px);
            width: calc(130px - 20px);
            display: flex;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            position: absolute;
            background: var(--color-2);
            @media (max-width: 991px) {
                height: calc(100px - 20px);
                width: calc(100px - 20px);
            }
        }
        h4 {
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 0;
            margin-top: 15px;
            @media (max-width: 991px) {
                font-size: 18px;
            }
        }
        span {
            font-size: 16px;
            font-weight: 400;
            @media (max-width: 991px) {
                font-size: 14px;
            }
        }
    }
}