.about {
    padding-bottom: 150px;
    &_header {
        text-align: center;
    }
    .two-col {
        display: grid;
        grid-template-columns: 500px 1fr;
        gap: 80px;
        align-items: center;
        &__item {
            img {
                filter: grayscale(100%);
            }
            p {
                margin-bottom: 30px;
                line-height: 1.8;
            }
        }
    }
}

.skills {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 100px;
    &__item {
        text-align: center;
        .progress {
            height: 130px;
            width: 130px;
            display: flex;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            position: relative;
            img {
                max-width: 100%;
                height: auto;
                z-index: 1;
            }
        }
        .progress__bar {
            height: calc(130px - 20px);
            width: calc(130px - 20px);
            display: flex;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            position: absolute;
            background: var(--color-2);
        }
        h4 {
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 0;
            margin-top: 15px;
        }
        span {
            font-size: 16px;
            font-weight: 400;
        }
    }
}