.contact_wrapper {
    text-align: center;
    padding-bottom: 150px;
    h3 {
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 10px;
        font-family: var( --font-family-secondary);
    }
    .btn {
        margin-top: 10px;
    }
}