.common_header {
    text-align: center;
    margin-bottom: 100px;
    @media (max-width: 991px) {
        margin-bottom: 50px;
    }
    h2 {
        font-size: 40px;
        font-weight: 500;
        @media (max-width: 991px) {
            font-size: 30px;
        }
    }
    p {
        font-size: 25px;
        font-weight: 400;
        color: var(--color-5);
        max-width: 590px;
        margin: 0 auto;
        @media (max-width: 991px) {
            font-size: 20px;
        }
        @media (max-width: 450px) {
            font-size: 18px;
        }
    }
    &-content {
        position: relative;
        z-index: 1;
    }
    .letter {
        color: transparent;
        font-size: 330px;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: var(--color-5);
        position: relative;
        left: -130px;
        right: 0;
        margin: 0 auto;
        top: 24px;
        @media (max-width: 991px) {
            font-size: 200px;
            left: -100px;
        }
        @media (max-width: 450px) {
            font-size: 150px;
            left: -80px;
        }
        span {
            line-height: 0;
            display: block;
            text-align: center;
        }
    }
}