.common_header {
    text-align: center;
    margin-bottom: 100px;
    h2 {
        font-size: 40px;
        font-weight: 500;
    }
    p {
        font-size: 25px;
        font-weight: 400;
        color: var(--color-5);
        max-width: 590px;
        margin: 0 auto;
    }
    &-content {
        position: relative;
        z-index: 1;
    }
    .letter {
        color: transparent;
        font-size: 370px;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: var(--color-5);
        position: relative;
        left: -140px;
        right: 0;
        margin: 0 auto;
        top: 24px;
        span {
            line-height: 0;
            display: block;
            text-align: center;
        }
    }
}