.portfolio {
    padding-bottom: 150px;
    .common_header .letter {
        font-size: 250px;
        -webkit-text-stroke-width: 2px;
        left: -100px;
        @media (max-width: 991px) {
            font-size: 200px;
            left: -80px;
        }
    }
    &_grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        @media (max-width: 991px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }
        @media (max-width: 600px) {
            grid-template-columns: 1fr;
        }
        &__item {
            .portfolio_grid__item-image {
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 5px;
                }
            }
        }
    }
}