.portfolio {
    padding-bottom: 150px;
    .common_header .letter {
        font-size: 250px;
        -webkit-text-stroke-width: 2px;
        left: -100px;
    }
    &_grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        &__item {
            .portfolio_grid__item-image {
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 5px;
                }
            }
        }
    }
}