.services {
    padding-bottom: 150px;
}

.three-col {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 150px;
    @media (max-width: 991px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin-top: 100px;
    }
    @media (max-width: 600px) {
        grid-template-columns: 1fr;
    }
    &__item {
        text-align: center;
        border-radius: 5px;
        background-color: var(--color-6);
        padding: 20px;
        @media (max-width: 991px) {
            padding: 15px;
        }
        .icon {
            margin: 0 auto 10px;
            line-height: 0;
            svg {
                width: 50px;
                height: 50px;
            }
        }
        h3 {
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 10px;
        }
    }
}