.services {
    padding-bottom: 150px;
}

.three-col {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 150px;
    &__item {
        text-align: center;
        border-radius: 5px;
        background-color: var(--color-5);
        padding: 15px;
        .icon {
            width: 70px;
            height: 70px;
            margin: 0 auto 15px;
        }
        h3 {
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 10px;
        }
    }
}