body {
    background-color: var(--color-2);
    color: var(--color-3);
    font-family: var(--font-family-primary);
    font-size: 16px;
    font-weight: 400;
    overflow-x: hidden;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}

.social-icons {
    display: inline-block;
    position: fixed;
    top: 25%;
    left: 20px;
    z-index: 1;
    &__list {
        display: inline-flex;
        flex-direction: column;
        gap: 15px;
        list-style: none;
        li {
            opacity: 0.7;
            svg {
                max-width: 30px;
                path {
                    fill: white;
                    transition: fill 0.3s ease;
                }
                circle {
                    stroke: white;
                    stroke-width: 3;
                    transition: stroke-dashoffset 0.6s ease, stroke 0.3s ease;
                }
                rect {
                    stroke: white;
                    stroke-width: 3;
                    fill: none;
                    transition: stroke-dashoffset 0.6s ease, stroke 0.3s ease;
                }
            }
            &:hover {
                opacity: 1;
                svg {
                    path {
                        fill: var(--color-1);
                        animation: fillUp 0.6s ease forwards;
                    }
                    circle {
                        stroke: var(--color-1);
                        stroke-dashoffset: 0;
                    }
                    rect {
                        stroke: var(--color-1);
                        stroke-dashoffset: 0;
                    }
                }
            }
        }
    }
}

@keyframes fillUp {
    0% {
        fill: white;
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    }
    100% {
        fill: var(--color-1);
        clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0 100%);
    }
}