.btn {
    padding: 10px 25px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: var(--xolor-3);
    background-color: var(--color-1);
    display: inline-block;
}