:root {
    --color-1: #FD6F00;
    --color-2: #000;
    --color-3: #fff;
    --color-4: #212121;
    --color-5: #363636;
    --color-6: #0a0a0a;
    --font-family-primary: "Poppins", sans-serif;
    --font-family-secondary: "Playfair Display", serif;
}