.about {
  padding-bottom: 150px;
}
.about_header {
  text-align: center;
}
.about .two-col {
  display: grid;
  grid-template-columns: 390px 1fr;
  gap: 80px;
  align-items: center;
}
@media (max-width: 1199px) {
  .about .two-col {
    grid-template-columns: 300px 1fr;
    gap: 40px;
  }
}
@media (max-width: 767px) {
  .about .two-col {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}
.about .two-col__item img {
  filter: grayscale(100%);
}
@media (max-width: 767px) {
  .about .two-col__item img {
    max-width: 400px;
    margin: 0 auto;
  }
}
@media (max-width: 450px) {
  .about .two-col__item img {
    max-width: 300px;
  }
}
.about .two-col__item p {
  margin-bottom: 30px;
  line-height: 1.8;
}

.skills {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-top: 100px;
}
@media (max-width: 991px) {
  .skills {
    margin-top: 50px;
    flex-wrap: wrap;
  }
}
.skills__item {
  text-align: center;
}
.skills__item .progress {
  height: 130px;
  width: 130px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  position: relative;
}
.skills__item .progress img {
  max-width: 100%;
  height: auto;
  z-index: 1;
}
@media (max-width: 991px) {
  .skills__item .progress {
    height: 100px;
    width: 100px;
  }
}
.skills__item .progress__bar {
  height: 110px;
  width: 110px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: var(--color-2);
}
@media (max-width: 991px) {
  .skills__item .progress__bar {
    height: 80px;
    width: 80px;
  }
}
.skills__item h4 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0;
  margin-top: 15px;
}
@media (max-width: 991px) {
  .skills__item h4 {
    font-size: 18px;
  }
}
.skills__item span {
  font-size: 16px;
  font-weight: 400;
}
@media (max-width: 991px) {
  .skills__item span {
    font-size: 14px;
  }
}