.services {
  padding-bottom: 150px;
}

.three-col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 150px;
}
@media (max-width: 991px) {
  .three-col {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 100px;
  }
}
@media (max-width: 600px) {
  .three-col {
    grid-template-columns: 1fr;
  }
}
.three-col__item {
  text-align: center;
  border-radius: 5px;
  background-color: var(--color-6);
  padding: 20px;
}
@media (max-width: 991px) {
  .three-col__item {
    padding: 15px;
  }
}
.three-col__item .icon {
  margin: 0 auto 10px;
  line-height: 0;
}
.three-col__item .icon svg {
  width: 50px;
  height: 50px;
}
.three-col__item h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}